
// Body
//$body-bg: #f8fafc;
$breadcrumb-divider: quote(">");
// Typography
$font-family-sans-serif: "Quicksand", sans-serif;
//$font-size-base: 0.9rem;
//$line-height-base: 1.6;

//fontawesome
$fa-font-path:        "../webfonts";
// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f9a825;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$primary: #007bff;
$info: #00b4e9;
//$light: rgba(0, 0, 0, 0.05);

$g-green-primary:    #004137 !default;
$g-green-dark:    #001c11 !default;
$g-green-light:    #356c61 !default;

$g-red-primary:   #f4344f !default;
$g-red-dark:   #ba0027 !default;
$g-red-light:   #ff6e7b !default;

$g-grey-primary:   #253d52 !default;
$g-grey-dark:   #001729 !default;
$g-grey-light:   #50677e !default;

$theme-colors: () !default;
$theme-colors: map-merge((
    "g-green-primary": $g-green-primary,
    "g-green-dark": $g-green-dark,
    "g-green-light": $g-green-light,
    "g-red-primary": $g-red-primary,
    "g-red-dark": $g-red-dark,
    "g-red-light": $g-red-light,
    "g-grey-primary": $g-grey-primary,
    "g-grey-dark": $g-grey-dark,
    "g-grey-light": $g-grey-light
), $theme-colors);
