
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
//fonts
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/regular";
//slick carousel
@import "~slick-carousel/slick/slick";
@import "~slick-carousel/slick/slick-theme";
//venobox
@import "~venobox/venobox/venobox.css";

@import '~jquery-ui/themes/base/all.css';
.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

// Web
@import "web";

//
.font-poppins{
    font-family: 'Poppins', sans-serif;
    font-size: 14.5px;
    line-height: 24px;
}
